module/StepStar/config/DepotTEF.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.abes.fr/DepotTEF/" xsi:schemaLocation="http://schemas.xmlsoap.org/wsdl/ http://schemas.xmlsoap.org/wsdl/2003-02-11.xsd" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.abes.fr/DepotTEF/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <types>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.abes.fr/DepotTEF/" xmlns="http://schemas.xmlsoap.org/wsdl/">
      <xsd:import namespace="http://www.w3.org/2005/05/xmlmime" schemaLocation="DepotTEF?xsd=xmime.xsd"/>
      
      <xsd:complexType name="Depot">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="idEtablissement" type="xsd:string"/>
          <xsd:element minOccurs="0" name="tef" type="xmime:base64Binary"/>
        </xsd:sequence>
      </xsd:complexType>
      
      <xsd:complexType name="DepotAvecZip">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="idEtablissement" type="xsd:string"/>
          <xsd:element minOccurs="0" name="tef" type="xmime:base64Binary"/>
          <xsd:element minOccurs="0" name="zip" type="xmime:base64Binary"/>
        </xsd:sequence>
      </xsd:complexType>
      
      
      <xsd:element name="DepotRequest" type="tns:Depot"/>
      <xsd:element name="DepotRequestAvecZip" type="tns:DepotAvecZip"/>
      <xsd:element name="DepotResponse" type="xsd:string"/>

    </xsd:schema>
  </types>
  <message name="DepotRequestAvecZip">
    <part name="part1" element="tns:DepotRequestAvecZip">
    </part>
  </message>
  <message name="DepotResponse">
    <part name="part1" element="tns:DepotResponse">
    </part>
  </message>
  <message name="DepotRequest">
    <part name="part1" element="tns:DepotRequest">
    </part>
  </message>
  <portType name="DepotTEFPortType">
    <operation name="deposer">
      <input message="tns:DepotRequest" wsaw:Action="deposer">
    </input>
      <output message="tns:DepotResponse" wsaw:Action="http://schemas.xmlsoap.org/wsdl/DepotTEFPortType/tns:DepotResponse">
    </output>
    </operation>
    <operation name="deposerAvecZip">
      <input message="tns:DepotRequestAvecZip" wsaw:Action="deposerAvecZip">
    </input>
      <output message="tns:DepotResponse" wsaw:Action="http://schemas.xmlsoap.org/wsdl/DepotTEFPortType/tns:DepotResponse">
    </output>
    </operation>
  </portType>
  <binding name="DepotTEFSOAPBinding" type="tns:DepotTEFPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="deposer">
      <soap:operation soapAction="http://www.abes.fr/DepotTEF/deposer"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deposerAvecZip">
      <soap:operation soapAction="http://www.abes.fr/DepotTEF/deposerAvecZip"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="DepotTEF">
    <port name="DepotTEFSOAPport_http" binding="tns:DepotTEFSOAPBinding">
      <soap:address location="https://imports-test.theses.fr/services/DepotTEF"/>
    </port>
  </service>
</definitions>
